.__module-card {
    .el-card__header {
        border-bottom: none;
        .clearfix {
            display: flex;
            justify-content: space-between;
            align-items: center;
            height: 32px;
        }
    }
    .el-card {
        border: none;
        box-shadow: var(--box-shadow-base, 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.06));
        border-radius: 4px;
        .el-card__header {
            padding: 16px 16px 0;
        }
    }
    .el-card__body {
        padding: 16px;
    }
    .global-module-title {
        display: inline-flex;
        align-items: center;
        font-weight: bold;
        font-size: 14px;
        color: #374151;
        &:before {
            content: '';
            margin-right: 8px;
            background: #3377FF;
            display: inline-block;
            width: 4px;
            height: 14px;
        }
    }
}