@font-face {
    font-family: "MD-IconFont"; /* Project id 2762044 */
    src: url('//at.alicdn.com/t/font_2762044_1od57gk7g9d.woff2?t=1652687996723') format('woff2'),
         url('//at.alicdn.com/t/font_2762044_1od57gk7g9d.woff?t=1652687996723') format('woff'),
         url('//at.alicdn.com/t/font_2762044_1od57gk7g9d.ttf?t=1652687996723') format('truetype');
  }
  
  .MD-IconFont {
    font-family: "MD-IconFont" !important;
    font-size: 16px;
    font-style: normal;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
  
  .md-icon-fold-16:before {
    content: "\e6c0";
  }
  
  .md-icon-unfold-16:before {
    content: "\e6bf";
  }
  
  .md-icon-help-16:before {
    content: "\e69a";
  }
  
  .md-icon-refresh-16:before {
    content: "\e662";
  }
  
  .md-icon-instructions-16:before {
    content: "\e6e2";
  }
  
  .md-icon-download-16:before {
    content: "\e62f";
  }
  
  .md-icon-copy-light-16:before {
    content: "\e66e";
  }
  
  .md-icon-copy-16:before {
    content: "\e625";
  }
  
  .md-icon-edit-16:before {
    content: "\e629";
  }
  
  .md-icon-delete-16:before {
    content: "\e637";
  }
  
  .md-icon-preview-empty:before {
    content: "\e669";
  }
  
  .md-icon-list-import:before {
    content: "\e66a";
  }
  
  .md-icon-down-fill-16:before {
    content: "\e61b";
  }
  
  .md-icon-search-16:before {
    content: "\e62b";
  }
  
  .md-icon-up-fill-16:before {
    content: "\e632";
  }
  
  .md-icon-drag-16:before {
    content: "\e61d";
  }
  
  .md-icon-clear-fill-16:before {
    content: "\e616";
  }
  
  .md-icon-upload-light-16:before {
    content: "\e641";
  }
  
  .md-icon-download-light-16:before {
    content: "\e642";
  }
  
  .md-icon-danger-fill-16:before {
    content: "\e61a";
  }
  
  .md-icon-success-16:before {
    content: "\e635";
  }
  
  .md-icon-new-tab-16:before {
    content: "\e704";
  }
  
  .md-icon-more-16:before {
    content: "\e70f";
  }
  
  .md-icon-filter-16:before {
    content: "\e645";
  }
  
  .md-icon-export-16:before {
    content: "\e63e";
  }
  
  .md-icon-eliminate-16:before {
    content: "\e62e";
  }
  
  .md-icon-assembly-16:before {
    content: "\e636";
  }
  
  .md-icon-table-deploy-16:before {
    content: "\e617";
  }
  